<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>FBS WebApp</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--to encourage the browser to use fullscreen-->
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <link href={{ url_for('static', filename='css/bootstrap.min.css')  }} rel="stylesheet">

  <link href={{  url_for('static', filename='css/starter-template.css')  }} rel="stylesheet">
  <!--stylesheet. The url_for is a Flask function to find the url for a standard folder. Then, within the static folder you'll want to look for the css folder ccontaining the
  bootstrap min file.-->



</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Futurizing Business Schools WebApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="/socialmediadashboard">Social Media Dashboard</a></li>
            <li><a href="/skillsdashboard">Skills Dashboard</a></li>
            <li><a href="/vacancydata">Topic Models Vacancy Data</a></li>
            <li><a href="/downloaddata">Download Data</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="starter-template">
            <h1>Welcome to the Futurizing Business Schools Project!</h1>
            <p class="lead">Here you'll find an overview of all analyses done to gain insight into whether business schools prepare graduates for the contemporary world of business. </p>
            <br>
            <br>
            <p class="lead">Let's get to work!</p>
            <br>
          <img style="top:100px;left:100px" src="{{  url_for('static', filename='images/umlogo2.png')  }}">


          <h1> Executive summary </h1>
          <p> add her the executive summary about insighs using all data sources

            <br>
            <br>

            <br>
            <br>

            <br>

          </p>

          <h1> Method Snapshot </h1>
          <p> <blockquote> <em>I never guess. It is a capital mistake to theorize before one has data.
            Insensibly one begins to twist facts to suit theories, instead of theories to suit facts. </em>
            Sir Arthur Conan Doyle, Author of Sherlock Holmes stories </blockquote>
          </p>
          <p> <h2> Data Overview</h2>
          </p>

          <p>
            <head>
              <style>
              table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
              }

              td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
              }

              tr:nth-child(even) {
                  background-color: #dddddd;
              }
              </style>
              </head>
            <table>
              <tr>
                <th> Data Source</th> <th> Why did we included it ? </th>  <th>What did we do with it? </th> <th>Size</th>
              </tr>
              <tr>
                <td> Facebook </td> Facebook posts were included to explore what business schools are posting about: Do they mention learning activities,
                skills students are learning, important events that happen on the campus? <td> Facebook posts were not modified. Very large posts and non-english
                posts were excluded. </td> <td> 265,743 tweets </td>
              </tr>
              <tr>
                <td> Twitter </td> Tweets were included to explore what business schools are tweeting about: Do they mention learning activities,
                skills students are learning, important events that happen on the campus?  <td> Tweets were not modified. Non-english tweets were excluded. </td> <td>386,882 posts</td>
              </tr>
              <tr>
                <td> LinkedIn </td> For each business school we collected aggregated information about their students. We did not collect personal information, but only
                the top 15 skills, courses, and employers. <td> We categorized the skills according to the 21st century skills and data-driven decision-making skills. </td>
                <td> Top 15 observations/institution</td>
              </tr>
              <tr>
                <td> Indeed </td> Not all employers are equal. Some provide nourishing work environments. These give graduates the chance to build
                on their skills. Other's are less good for employability and better for pure short-term task execution.
                <td> We did a sentiment analysis on a subset of the reviews to create a score for each company. The score ranges from +1 (very positive emotions attached to
                  the company) to -1 (very negative emotions attached to the company).
                </td> <td> 832,368 reviews in total, </td>
              </tr>
              <tr>
                <td> Digital Skill Survey (EC)</td> This survey provides information about the skills that are currently being used in the European business world.
                The results of this survey provides thus information with regard to what skills students should at least be knowledgable in.  <td>
                </td> <td> We did not transform the data. </td> <td> n = XXX</td>
              </tr>
              <tr>
                <td> Adult Skill Survey (OECD)</td> <td> This survey provides some information about the skill level of adults in different countries.</td>
                <td> We did not transform the data. </td> <td> n = xxx </td>
              </tr>
              <tr>
                <td> Academic Vacancies </td> <td> Vacancies were investigated to discover if business schools are seeking out talented employees who can
                teach the skills graduates need in their workplace. </td>
                <td> We explored the vacancies using natural languague processing to get a set of topics which group skills together.  </td>
                <td> 16,318 vacancies </td>
              </tr>
          </p>
          <p> <h2> Institutes </h2> </p>

          <p> Our sample consisted of 150 business schools that are accredited by <a href = "http://www.efmd.org/accreditation-main/equis"> EQUIS </a>,
            the European accreditation association conducting quality assurance of business school,
            and the top 100 most innovative universities according to Reuters.
            The ranking for innovative universities is based on the following <a href="https://www.reuters.com/innovative-universities-2017/methodology">
              criteria </a>: scientific output,
            technological advances, and progress that stimulate the creation of new markets and industries.
            Our sample of institutions is located in 42 countries. </p>
          <p> <h2> Data Sources </h2>
          </p>
          <p>For each institution, we captured their social media activity between <em>January 1st 2011 and September 7th 2017</em>.
             We focused on content curated by the institutions on <a href="www.twitter.com"> <strong>Twitter</strong> </a> and <a href="www.facebook.com>"
               <strong>Facebook</strong> </a>. In practice this means, the data contains all tweets that institutions created or retweeted,
             and all posts that the institutions posted on their official Facebook page. This excludes students comments, and @ mentions.
             This resulted in a dataset of 975,574 social media posts.
             Due to language and technical issues we focused on posts that were in English and contained no more than 4000 bites,
             between 1024 and 4096 characters. After data cleaning our database contained a total of 652,625 posts, consisting of 386,882 tweets and
             265,743 Facebook posts.
           </p>
          <p>Information about students’ self-reported skills and employment information was gathered using <a href = "www.linkedin.com"> LinkedIn’s school pages </a>.
            This does not include any personal information. The school's pages provide aggregated information about the
             top self-reported skills and current employers of graduates who have attended the institutes during our selected time period.
           </p>
          <p>With the aim to understand the research and teaching expertise of business school we collected information about vacancies
            from academic institutes. We collaborated with <a href ="www.academictransfer.nl">Academic Transfer </a>,
            a company publicizing vacancies in the Dutch Academic labor market.
            From their dataset we analyzed vacancies across all scientific disciplines from 2010-2017. We conducted an automatic topic analyzes on the
            vacancies description and requirements
             (<a href="http://blog.echen.me/2011/08/22/introduction-to-latent-dirichlet-allocation/"> Latent Dirichlet Analysis </a>).
          </p>
          <p> To gain better insight into the labor market and skill level, we searched for open data sets.
            The European Commission conducts reseach on <a href="https://ec.europa.eu/digital-single-market/en/news/new-report-shows-digital-skills-are-required-all-types-jobs">
            digital skills </a>. From this research project, we included the <a href"https://ec.europa.eu/digital-single-market/en/news/ict-work-digital-skills-workplace"> Digital Skill Survey </a>. Specifically, we added
            survey respondents’ information about their company (size of company, country of HQ, job title) and their estimates about digital skills needed and
            possessed across different job categorize (professionals, managers, sales). In the survey’s code book these questions were Q16_1_1 until Q16_10_5,
             Q23, Q30 until Q33.
             <br>
             Also from the European commission, we included <a href="http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=isoc_sk_dskl_i&lang=en">
               Eurostat’s dataset </a> on managers’ perception about digital skill of employees, downloaded via <a href="www.datamarket.com"> datamarket </a>.
               <br>
             From the <a href="www.oecd.org"> OECD </a>, we included results from the <a href="http://www.oecd.org/skills/piaac/">2013 Adult Skill Survey (PIAAC)</a>,
             which provides country information about adult skill, knowledge, and
             work styles. <a href="http://www.oecd.org/skills/piaac/Technical%20Report_Section%201.pdf">The survey assessed literacy, numeracy, and problem-solving in technology rich environments </a>.
             From OECD we also included country specific data about percentage of workers who report structural
             change in their workplace and percentage of workers who report new ways of working in the workplace (1990 – 2009).
             <br>
             
           </p>




    </div>



</body>





</html>
