<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>SSIP back end</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--to encourage the browser to use fullscreen-->
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <link href={{ url_for('static', filename='css/bootstrap.min.css')  }} rel="stylesheet">
  <link href={{  url_for('static', filename='css/starter-template.css')  }} rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.css">
  <!--stylesheet. The url_for is a Flask function to find the url for a standard folder. Then, within the static folder you'll want to look for the css folder ccontaining the
  bootstrap min file.-->



</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Futurizing Business Schools WebApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="/socialmediadashboard">Social Media Dashboard</a></li>
            <li><a href="/skillsdashboard">Skills Dashboard</a></li>
            <li><a href="/vacancydata">Topic Models Vacancy Data</a></li>
            <li><a href="/downloaddata">Download Data</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="starter-template">
            <h1>Topic Models Vacancy Data</h1>
            <p class="lead">Below you'll find a set of topic models giving insight into the vacancy data collected from Academic Transfer.</p>
            <br>
            <div id="ldavis_el25774881563224597196205"></div>
            <script type="text/javascript">

            var ldavis_el25774881563224597196205_data = {"mdsDat": {"Freq": [50.015706698096885, 25.254966130071963, 24.72932717183115], "cluster": [1, 1, 1], "topics": [1, 2, 3], "x": [0.1518289617949661, -0.011291313578506317, -0.14053764821645995], "y": [0.051822296416536615, -0.11722660583568242, 0.06540430941914577]}, "tinfo": {"Category": ["Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Default", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic1", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic2", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3", "Topic3"], "Freq": [866.0, 373.0, 620.0, 264.0, 1881.0, 611.0, 257.0, 334.0, 500.0, 380.0, 476.0, 617.0, 356.0, 346.0, 362.0, 720.0, 245.0, 528.0, 136.0, 218.0, 261.0, 320.0, 173.0, 606.0, 117.0, 260.0, 114.0, 248.0, 113.0, 244.0, 865.7389130909535, 355.58124026577065, 380.2447813282812, 345.87726452796164, 261.2803586235132, 618.3752129846717, 202.23149186914526, 201.26512088735177, 221.07051976631107, 181.14769800225903, 139.3648718298654, 136.516498073217, 126.04318967412807, 121.27800313189971, 103.17620607055447, 102.22493105553555, 107.88125802297309, 246.92384246617362, 92.70658807625708, 177.8386274669732, 91.75036804309792, 92.68335067419879, 86.9829986143917, 86.98254063143807, 83.1772049448044, 85.04274806649823, 104.8716043918724, 242.78836908591796, 109.56154781083164, 71.74787587252258, 357.4544692204089, 598.5823077174887, 489.8498285618322, 196.47275694114091, 120.64851616534577, 313.90812719752785, 198.8019618693868, 164.81084364133807, 194.00322493764946, 135.10115214906813, 357.7495188215947, 485.313684450063, 174.05965825266824, 549.4468133082422, 3080.8590390837553, 401.258741005619, 660.7322565875734, 656.9672020248504, 668.6448910822038, 366.6872286592141, 685.3066446527268, 511.9995378545936, 1837.6632953646576, 291.44972719689827, 527.3081210221741, 480.7579633106753, 288.74982204988765, 383.28192669961675, 453.69087057338635, 335.4700161996251, 502.24062671445654, 517.580018860688, 442.8578278390767, 512.8126380734699, 455.16467201345193, 678.7602816626755, 49.02806580599245, 48.082083783244244, 56.388120078458826, 42.47823979226331, 40.58961172557904, 40.5829929958307, 34.98021177044404, 34.96937915748999, 51.50961015271826, 33.1032537219478, 34.937720317740045, 29.34940518060559, 26.512101320850526, 25.594909192944836, 24.675420792581455, 24.670797228345613, 36.532637849194884, 24.65841180987692, 23.72047846179406, 23.7071717010936, 22.782321114938494, 28.238207520982407, 20.926430718042617, 20.917193670602845, 30.914435026863057, 30.89008618499184, 22.70185343733052, 19.970749015811652, 21.781688386534555, 19.030721082017564, 44.346144219571606, 41.683172163659705, 242.50875248226328, 25.28450261770324, 85.56876621258111, 74.99004413841546, 89.93178102212909, 41.97331066474487, 34.52619175959, 54.61875836182208, 176.77368429213263, 53.24888727165009, 139.3171566003122, 69.78372711535387, 72.43964034676613, 353.72076311028854, 142.78498331598988, 243.13161823989785, 69.0656939294577, 223.77985009666693, 266.2669687608804, 296.10781724956774, 143.57036110900097, 105.89168915325264, 536.0560233108323, 772.7772079428754, 189.1741425680849, 88.76730433129, 203.41343335680176, 125.02510799989682, 205.48823745135044, 154.1524192106439, 246.60988197989332, 250.75603722911399, 211.61321586767642, 150.13763528459816, 168.01563590515673, 457.15560278050737, 119.34089759406551, 164.36252556773744, 94.82367973225914, 113.10140575614342, 170.77586785960864, 138.0612312764059, 142.66202800658004, 130.39764899564057, 119.52848018438816, 131.24755925464015, 134.78699551619275, 128.43661662117697, 135.4717689625257, 116.57652435370484, 113.87278826841032, 112.93114808007877, 98.52958927466848, 91.33778781954575, 83.22344793664539, 85.90637900933422, 76.91374392171042, 76.01036668221604, 261.9674310969964, 66.99497518702223, 66.0975090432003, 62.48671515857924, 58.88471912705556, 57.067617033476864, 50.77705884340943, 50.769460262876954, 48.949555812460595, 368.4028600601657, 42.660474172095434, 47.09293476617509, 39.96064798904308, 38.15604339919802, 37.24393586428638, 36.342690699171776, 35.45367979175101, 35.451618787594, 35.45091578684201, 34.552415075473625, 71.99277716365198, 81.12961394806831, 41.46927203368939, 57.410249600520345, 104.41854192720794, 61.18303669774851, 148.71093532777329, 83.45381791582126, 248.38389733585615, 117.34351611937532, 116.90540898447725, 177.81607539362196, 97.07140356467377, 108.76584125332909, 666.4070022295435, 299.17142270205227, 162.00407408898803, 636.3839520063867, 196.30731232114275, 189.10045310792276, 189.71779390641666, 236.25942832224592, 528.8049332336757, 188.41011543431893, 141.44252978622924, 149.71182808750922, 208.23133502154937, 127.17623958506317, 189.17614184795036, 180.14002235425852, 171.8030931795302, 137.91175765031946, 147.7491670516493, 167.7080233665194, 134.51585885520694, 146.0290672149401, 126.44710949427522, 124.46784526348083, 126.90017844488683, 127.80202195439654], "Term": ["teaching", "cell", "professor", "molecular", "project", "programme", "energy", "cancer", "course", "master", "model", "postdoc", "assistant", "social", "education", "system", "patient", "management", "physiological", "water", "bachelor", "chair", "disease", "technology", "renal", "using", "mg2", "law", "therapy", "business", "teaching", "assistant", "master", "social", "bachelor", "professor", "teach", "history", "school", "psychology", "economics", "curriculum", "lecturer", "ba", "english", "ma", "contributing", "law", "master\u2019s", "thesis", "entrepreneurship", "skill", "cultural", "sociology", "administrative", "degree", "political", "business", "bsc", "bachelor\u2019s", "education", "programme", "course", "philosophy", "graduate", "chair", "policy", "governance", "medium", "supervising", "faculty", "management", "supervision", "program", "research", "contribute", "science", "candidate", "international", "expected", "department", "student", "the", "academic", "university", "field", "innovation", "area", "position", "level", "within", "development", "you", "group", "study", "project", "sensing", "agricultural", "layer", "radiomics", "thermal", "grid", "euv", "remote", "storage", "drone", "delta", "irrigation", "stw", "heat", "maastro", "mr", "biomass", "solar", "gas", "electricity", "spectroscopy", "composition", "pilot", "fuel", "electrical", "efficiency", "dect", "catalysis", "traffic", "conversion", "soil", "vehicle", "energy", "particle", "image", "scale", "food", "optical", "crop", "physic", "water", "device", "imaging", "chemical", "smart", "system", "material", "model", "outcome", "process", "technology", "data", "use", "used", "project", "the", "this", "tool", "develop", "using", "postdoc", "application", "development", "group", "new", "method", "analysis", "research", "technique", "in", "challenge", "based", "you", "design", "field", "researcher", "aim", "position", "within", "university", "physiological", "renal", "mg2", "therapy", "immune", "kidney", "gene", "protein", "mouse", "physiology", "molecular", "vivo", "blood", "cellular", "signaling", "calcium", "magnesiotropic", "vitro", "drug", "cell", "metabolic", "immunology", "trpv5", "bone", "platelet", "genetics", "receptor", "rna", "immunological", "functionomics", "functional", "disorder", "chronic", "targeted", "biology", "pathway", "disease", "genetic", "cancer", "response", "transport", "patient", "tumor", "mechanism", "project", "postdoc", "human", "the", "model", "analysis", "we", "study", "research", "work", "including", "team", "group", "using", "within", "new", "data", "aim", "this", "department", "scientific", "system", "postdoctoral", "clinical", "role", "in"], "Total": [866.0, 373.0, 620.0, 264.0, 1881.0, 611.0, 257.0, 334.0, 500.0, 380.0, 476.0, 617.0, 356.0, 346.0, 362.0, 720.0, 245.0, 528.0, 136.0, 218.0, 261.0, 320.0, 173.0, 606.0, 117.0, 260.0, 114.0, 248.0, 113.0, 244.0, 866.7540786141698, 356.21629925648347, 380.97987011326995, 346.6852700713457, 261.91774687220476, 620.0443046288872, 202.86217298619076, 201.9089820428752, 221.90724194836062, 181.89961462689888, 139.99653466095498, 137.13907932558197, 126.66159759968998, 121.89885896229433, 103.80124059897005, 102.84859289171145, 108.56154720635541, 248.5660696505844, 93.32370383297108, 179.03984040283285, 92.37119396005424, 93.32290507109244, 87.60821346670059, 87.60831692744395, 83.79853279663197, 85.70269937402752, 105.70258853595385, 244.7507232525379, 110.46404825640134, 72.36846006066877, 362.8055443237739, 611.9827036746558, 500.4699803391066, 198.9489319456354, 121.88863951126872, 320.86841008623185, 202.80547018564158, 167.58390449090376, 198.98030421589274, 137.06369586876423, 381.50041170146454, 528.8647912417682, 179.78032354560256, 613.0435410776558, 4066.8195750979385, 447.8293050731712, 776.0677699121512, 784.0785257198041, 802.1224936986206, 413.705231202602, 899.3673526613991, 639.3961544693617, 3246.8244553139198, 330.0920135248401, 714.6366325317532, 636.0624429397673, 332.6418604739895, 499.82881487818867, 658.5116486000492, 417.8261396754893, 826.2037640785996, 888.0707151061683, 732.4458231588817, 971.8000103241333, 782.3460305609858, 1881.2233072030513, 49.65661499776694, 48.7198088528069, 57.14755148815854, 43.097203015182295, 41.2229528154208, 41.22241168348252, 35.60079656410823, 35.60110854994579, 52.45526892636402, 33.726900970797146, 35.601642278502794, 29.97881555363455, 27.166998061756434, 26.23007115574441, 25.293424343452372, 25.293391389757307, 37.4627281052468, 25.292816858821865, 24.356096841715974, 24.35534516120673, 23.41869849951973, 29.041905788127465, 21.5452632049533, 21.54512719990842, 31.85752554519588, 31.839947683205537, 23.419654439983077, 20.607821756599005, 22.4825001098463, 19.67153577677074, 45.88437657249129, 43.10995477264596, 257.8937714432975, 26.219062869310967, 93.57438778041815, 81.6051990554691, 100.38647452292945, 44.88084347237267, 36.48501310404813, 60.02228530356652, 218.6667071316125, 59.735434196032045, 190.10574398893658, 87.40285624571668, 95.94281873939298, 720.2616928888381, 235.47767763162193, 476.344351042481, 92.46609936204052, 466.3459060557688, 606.3864475936997, 734.9905453729039, 265.14380718226244, 177.22632238551063, 1881.2233072030513, 3246.8244553139198, 460.93982791817376, 143.7375896932692, 557.4254337536544, 260.2811991772346, 617.816213961916, 380.1401737742103, 888.0707151061683, 971.8000103241333, 723.5296418429996, 391.8180985538855, 486.56576997828734, 4066.8195750979385, 263.16788870103323, 514.8692069298576, 168.02637511648658, 260.1239189022452, 732.4458231588817, 472.69104798559835, 636.0624429397673, 489.26320438354537, 349.29883552430783, 658.5116486000492, 826.2037640785996, 714.6366325317532, 136.13750598368344, 117.20707436430565, 114.50294644020684, 113.60333096803387, 99.18047955861819, 91.96872813719787, 83.85648186558343, 86.56155479765825, 77.54689561382555, 76.64565202964975, 264.1911149150391, 67.63197189747797, 66.73044026837472, 63.125246990952284, 59.51956784101798, 57.71738167679679, 51.407035746431575, 51.40734070000126, 49.605489931328435, 373.3609310604077, 43.294891109130866, 47.804752932633846, 40.59059471938789, 38.787933383990676, 37.88698276454161, 36.98576685824979, 36.08374877110705, 36.083867524355355, 36.08387173590503, 35.182374389053834, 74.01264159379417, 83.97400163896978, 42.40503177864978, 59.57795735057424, 114.87894731747072, 65.07061804454825, 173.09571427030897, 94.1549020483348, 334.0698668918851, 141.54244056254382, 146.36324277863582, 245.97077329262322, 117.97901832052841, 137.23770745841958, 1881.2233072030513, 617.816213961916, 298.2525868921314, 3246.8244553139198, 476.344351042481, 486.56576997828734, 507.01619774135156, 782.3460305609858, 4066.8195750979385, 610.5403602451954, 317.9844283378654, 386.29559267440146, 971.8000103241333, 260.2811991772346, 826.2037640785996, 723.5296418429996, 734.9905453729039, 349.29883552430783, 460.93982791817376, 899.3673526613991, 362.5744207376175, 720.2616928888381, 296.4391579972737, 263.9329244449129, 352.9501634028384, 514.8692069298576], "loglift": [30.0, 29.0, 28.0, 27.0, 26.0, 25.0, 24.0, 23.0, 22.0, 21.0, 20.0, 19.0, 18.0, 17.0, 16.0, 15.0, 14.0, 13.0, 12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0, 0.6917, 0.691, 0.6909, 0.6905, 0.6904, 0.6901, 0.6897, 0.6896, 0.6891, 0.6887, 0.6883, 0.6883, 0.6879, 0.6877, 0.6868, 0.6868, 0.6865, 0.6862, 0.6862, 0.6861, 0.6861, 0.686, 0.6857, 0.6857, 0.6854, 0.6851, 0.6849, 0.6848, 0.6846, 0.6842, 0.678, 0.6707, 0.6714, 0.6803, 0.6826, 0.6709, 0.6729, 0.6761, 0.6675, 0.6784, 0.6286, 0.6069, 0.6605, 0.5833, 0.4152, 0.583, 0.5319, 0.516, 0.5108, 0.5722, 0.421, 0.4706, 0.1237, 0.5683, 0.3888, 0.4129, 0.5513, 0.4273, 0.3203, 0.4733, 0.1951, 0.1529, 0.1897, 0.0536, 0.1512, -0.3266, 1.3634, 1.363, 1.3628, 1.3617, 1.3607, 1.3605, 1.3586, 1.3582, 1.358, 1.3575, 1.3573, 1.3549, 1.3517, 1.3516, 1.3514, 1.3512, 1.351, 1.3507, 1.3497, 1.3492, 1.3486, 1.3481, 1.347, 1.3466, 1.3461, 1.3459, 1.345, 1.3447, 1.3445, 1.343, 1.342, 1.3425, 1.3146, 1.3399, 1.2867, 1.2916, 1.2662, 1.3092, 1.321, 1.2818, 1.1635, 1.2612, 1.0653, 1.151, 1.0951, 0.665, 0.8759, 0.7036, 1.0844, 0.6419, 0.5531, 0.467, 0.7627, 0.8611, 0.1207, -0.0593, 0.4855, 0.8942, 0.3681, 0.6429, 0.2753, 0.4735, 0.0949, 0.0215, 0.1468, 0.4169, 0.3128, -0.8094, 0.5853, 0.2343, 0.804, 0.5433, -0.0799, 0.1454, -0.1187, 0.0538, 0.3038, -0.2367, -0.437, -0.3402, 1.3923, 1.3918, 1.3917, 1.3912, 1.3906, 1.3903, 1.3896, 1.3896, 1.389, 1.3889, 1.3887, 1.3877, 1.3877, 1.387, 1.3865, 1.3859, 1.3848, 1.3847, 1.3839, 1.3838, 1.3824, 1.3822, 1.3815, 1.3808, 1.3801, 1.3796, 1.3796, 1.3795, 1.3795, 1.3791, 1.3695, 1.3627, 1.3749, 1.3601, 1.3017, 1.3356, 1.2453, 1.2765, 1.1008, 1.2097, 1.1725, 1.0727, 1.2021, 1.1647, 0.3594, 0.672, 0.7869, -0.2325, 0.5107, 0.4521, 0.4142, 0.1998, -0.6428, 0.2215, 0.5871, 0.4493, -0.1433, 0.681, -0.077, 0.0068, -0.0563, 0.4679, 0.2594, -0.2823, 0.4056, -0.1986, 0.5452, 0.6455, 0.3743, 0.0037], "logprob": [30.0, 29.0, 28.0, 27.0, 26.0, 25.0, 24.0, 23.0, 22.0, 21.0, 20.0, 19.0, 18.0, 17.0, 16.0, 15.0, 14.0, 13.0, 12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0, -4.6332, -5.5231, -5.456, -5.5507, -5.8312, -4.9697, -6.0874, -6.0922, -5.9983, -6.1975, -6.4597, -6.4804, -6.5602, -6.5987, -6.7604, -6.7696, -6.7158, -5.8877, -6.8674, -6.2159, -6.8778, -6.8676, -6.9311, -6.9311, -6.9759, -6.9537, -6.7441, -5.9046, -6.7003, -7.1237, -5.5178, -5.0023, -5.2027, -6.1163, -6.6039, -5.6477, -6.1045, -6.292, -6.1289, -6.4908, -5.517, -5.212, -6.2374, -5.0879, -3.3639, -5.4022, -4.9035, -4.9092, -4.8916, -5.4923, -4.867, -5.1585, -3.8806, -5.722, -5.129, -5.2215, -5.7313, -5.4481, -5.2794, -5.5813, -5.1777, -5.1477, -5.3036, -5.1569, -5.2762, -4.8766, -6.8211, -6.8406, -6.6813, -6.9645, -7.01, -7.0102, -7.1587, -7.159, -6.7717, -7.2139, -7.1599, -7.3342, -7.4359, -7.4711, -7.5077, -7.5079, -7.1153, -7.5084, -7.5472, -7.5477, -7.5875, -7.3728, -7.6725, -7.6729, -7.2823, -7.2831, -7.5911, -7.7192, -7.6324, -7.7675, -6.9215, -6.9834, -5.2225, -7.4833, -6.2642, -6.3962, -6.2145, -6.9765, -7.1718, -6.7131, -5.5386, -6.7385, -5.7768, -6.4681, -6.4308, -4.845, -5.7522, -5.2199, -6.4785, -5.3028, -5.129, -5.0228, -5.7467, -6.0511, -4.4293, -4.0635, -5.4708, -6.2275, -5.3983, -5.885, -5.3881, -5.6756, -5.2057, -5.189, -5.3587, -5.702, -5.5895, -4.5885, -5.9315, -5.6114, -6.1615, -5.9852, -5.5732, -5.7858, -5.753, -5.8429, -5.93, -5.8364, -5.8098, -5.8581, -5.7837, -5.9339, -5.9574, -5.9657, -6.1021, -6.1779, -6.2709, -6.2392, -6.3498, -6.3616, -5.1243, -6.4879, -6.5013, -6.5575, -6.6169, -6.6482, -6.765, -6.7652, -6.8017, -4.7833, -6.9392, -6.8404, -7.0046, -7.0508, -7.075, -7.0995, -7.1242, -7.1243, -7.1243, -7.15, -6.4159, -6.2964, -6.9675, -6.6423, -6.0441, -6.5786, -5.6905, -6.2682, -5.1775, -5.9274, -5.9311, -5.5117, -6.117, -6.0033, -4.1906, -4.9915, -5.6049, -4.2367, -5.4128, -5.4502, -5.4469, -5.2275, -4.4219, -5.4539, -5.7406, -5.6838, -5.3538, -5.8469, -5.4498, -5.4987, -5.5461, -5.7659, -5.697, -5.5703, -5.7908, -5.7087, -5.8527, -5.8684, -5.8491, -5.842]}, "token.table": {"Topic": [1, 2, 3, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 1, 1, 1, 1, 2, 3, 2, 3, 2, 3, 3, 3, 1, 2, 1, 2, 3, 2, 3, 1, 2, 3, 2, 2, 3, 3, 1, 2, 1, 2, 3, 2, 3, 2, 3, 1, 2, 3, 2, 1, 2, 3, 1, 2, 1, 2, 3, 2, 3, 1, 1, 1, 2, 3, 2, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 2, 3, 2, 3, 1, 3, 2, 3, 1, 1, 2, 2, 3, 1, 2, 2, 1, 2, 3, 1, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 2, 1, 2, 3, 3, 2, 3, 2, 3, 3, 1, 2, 1, 2, 2, 1, 2, 3, 2, 1, 1, 2, 3, 1, 2, 3, 2, 3, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 2, 3, 2, 3, 1, 2, 2, 1, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 3, 1, 2, 3, 2, 3, 3, 2, 1, 2, 3, 2, 3, 1, 2, 3, 2, 3, 1, 2, 3, 2, 3, 1, 3, 1, 2, 3, 3, 3, 2, 3, 1, 2, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 3, 1, 2, 3, 2, 3, 1, 2, 3, 1, 2, 3, 2, 3, 3, 1, 2, 3, 1, 2, 1, 1, 2, 3, 1, 2, 3, 2, 3, 1, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, 3, 1, 2, 3, 1, 2, 3, 2, 1, 3, 1, 2, 3, 1, 2, 3, 2, 3, 1, 1, 2, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 3, 2, 1, 2, 1, 2, 3, 1, 2, 3, 2, 1, 2, 3, 3, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3], "Freq": [0.8815723739953546, 0.06058916659761887, 0.05453024993785698, 0.9904708021729938, 0.9852255402934441, 0.2633847887351393, 0.3435453766110513, 0.395077183102709, 0.26512345906650303, 0.34527706297032956, 0.38843669584162077, 0.5392747574260927, 0.4051137202127721, 0.05524278002901437, 0.7662623454258823, 0.12804383840014744, 0.1060363036751221, 0.999392786750817, 0.9926261905160871, 0.9964960493011092, 0.9949085546333323, 0.31139004956495325, 0.43440834075110757, 0.2537252255714434, 0.08704815141076076, 0.905300774671912, 0.9876483073003433, 0.02669319749460387, 0.9890538670891866, 0.9796861210369128, 0.9957991014839125, 0.009052719104399204, 0.9928469128537304, 0.008171579529660333, 0.9875707862006986, 0.25443779407829237, 0.7423596815460765, 0.8379262770866696, 0.08289985998574356, 0.07907371260178617, 0.9705052885366514, 0.013391867182779838, 0.9856414246525962, 0.9821743748406471, 0.9785943088495811, 0.02181579669409894, 0.33923245657405854, 0.5653874276234309, 0.09522314570499889, 0.8008891586243838, 0.19450165280877893, 0.023582107076818258, 0.9668663901495486, 0.20080859601531814, 0.32584036334561056, 0.4698163378471594, 0.9641240559166953, 0.8954304585638501, 0.04912586056958778, 0.05582484155634975, 0.9948273839052052, 0.9658625648555754, 0.9790797035778003, 0.001998121844036327, 0.017983096596326943, 0.9592979972403145, 0.054817028413732254, 0.9930575748250845, 0.9989858519813175, 0.36326997902338354, 0.4027262688798559, 0.23401661570045681, 0.9820811002545526, 0.9918007323087833, 0.9831007155850762, 0.7616465040374822, 0.05114706450470684, 0.18679797471284235, 0.5542732427798853, 0.2919454484871152, 0.1544349111562276, 0.44669651745751116, 0.3641742692525091, 0.1883660013375047, 0.5832868837906375, 0.2781310044329874, 0.13962852044409085, 0.8872455806727952, 0.1004428959252221, 0.13865161307530252, 0.8607954311758365, 0.023816895240965398, 0.9645842572590987, 0.9784474425495974, 0.987793892729078, 0.9928817190842016, 0.9839981929311616, 0.013781487295954645, 0.973619690221772, 0.03140708678134748, 0.031389757455622606, 0.9730824811243007, 0.9854099722728329, 0.05816348303432375, 0.9422484251560447, 0.003877565535621583, 0.992281011341034, 0.9959814965668327, 0.9831240696250618, 0.8871050504562528, 0.06526385929787146, 0.048343599479904784, 0.938400035804275, 0.057667041306407964, 0.0052424583005825426, 0.7562150624345996, 0.22482069423731338, 0.020438244930664852, 0.09961501335238028, 0.8965351201714226, 0.009961501335238028, 0.9746983531426662, 0.013511205362569416, 0.013511205362569416, 0.9728067861049979, 0.9948163137872077, 0.9853795604431138, 0.9897863367681425, 0.10620795925066609, 0.8815260617805285, 0.9733473997706252, 0.9845814280389678, 0.011934320339866276, 0.9927094148000022, 0.00820421003966944, 0.9946045931230258, 0.5278863907697371, 0.2582835947041014, 0.21403580756355814, 0.9912287254434677, 0.9954980603949447, 0.4124021229176639, 0.04358721624333033, 0.543163771647655, 0.03206005479875333, 0.9190549042309288, 0.053433424664588884, 0.7311720155498788, 0.26301151638484843, 0.9981802915309406, 0.9699624324175133, 0.9831658384728418, 0.4331197069052531, 0.3185274974549843, 0.24860682728193897, 0.42140428290916837, 0.1352267475007033, 0.4434179394790503, 0.8688022595478418, 0.13227439245711087, 0.8340372016189358, 0.031167309477538707, 0.13464277694296722, 0.9673497589695174, 0.9894667659668759, 0.9936995839666054, 0.004023075238731196, 0.9799194985913556, 0.9947766520221785, 0.8017688894720244, 0.08855357883720867, 0.10770029858579433, 0.991749105477749, 0.9883991847261152, 0.9920821004261109, 0.9170585904598145, 0.08130622554592169, 0.9974280265438208, 0.9965313867787499, 0.22932109974550058, 0.6072762456223441, 0.1656207942606393, 0.021859881336978346, 0.18216567780815288, 0.7942423552435466, 0.9749708684207803, 0.02512811516548403, 0.993188778131176, 0.44408362105322796, 0.38283070780450684, 0.17354992087137644, 0.9956075677015921, 0.07767490035102839, 0.5101351563594567, 0.4114670396973396, 0.007570277299610085, 0.9917063262489211, 0.9929475498729307, 0.9884004724698121, 0.45886164270245816, 0.29300803690638894, 0.24878040869410384, 0.9358112894169195, 0.06684366352977997, 0.11896251789459343, 0.7462194304297224, 0.12977729224864737, 0.9535047123771208, 0.03814018849508483, 0.030735838387623306, 0.030735838387623306, 0.9374430708225108, 0.27645560929754315, 0.7236632125729805, 0.9851774426894575, 0.010052831047851608, 0.08330239301473082, 0.916326323162039, 0.016660478602946165, 0.991644433505196, 0.991576142774544, 0.9746922003334847, 0.9765887199291116, 0.9812358602450014, 0.019723333874271384, 0.9933531567610109, 0.00946050625486677, 0.6894335141453808, 0.19893345892741163, 0.11237462565365237, 0.1829022894613861, 0.33181388796092165, 0.4839626951234906, 0.330590603016425, 0.24288289201206736, 0.4250450610211179, 0.2851960278259523, 0.48033015212791974, 0.23587641399138917, 0.9967029700722584, 0.0016127879774632014, 0.8955318231310697, 0.05382978171826103, 0.05056737070503308, 0.9787858323499977, 0.011438231763689456, 0.009804198654590963, 0.36093535382012554, 0.28492098622619627, 0.35402495676613194, 0.9935126535218677, 0.9950543346188825, 0.974541201321214, 0.9699657378178282, 0.9831154541409158, 0.9982332605311688, 0.7575944649390556, 0.11237282391338799, 0.13007707625860448, 0.525279640278306, 0.2657056546154855, 0.2084767443906117, 0.1695604505942869, 0.8266071966471487, 0.9699625456272452, 0.4929874470731034, 0.14732958188391596, 0.35982417113956394, 0.07352472721648101, 0.9190590902060127, 0.9959116163114148, 0.851729740142183, 0.11081506452681956, 0.037367870596253114, 0.4164662242107626, 0.21237019380283922, 0.3723373527712116, 0.9867768876755602, 0.9912706382142124, 0.9965399162097831, 0.23972612335347696, 0.7504469948456669, 0.9980233654830368, 0.9930564020771253, 0.02179391057912994, 0.9589320654817174, 0.02179391057912994, 0.9884229241663238, 0.9821211883517644, 0.9913208160842122, 0.01906386184777331, 0.8007555197527134, 0.10635034246715726, 0.09383853747102111, 0.5815840845689977, 0.11631681691379953, 0.3016567999083153, 0.9938529070684655, 0.984943526761892, 0.014591755952028029, 0.9678478521364083, 0.011124687955590901, 0.022249375911181802, 0.30683292223082054, 0.491488029274708, 0.20270410246922985, 0.03356946241428539, 0.9567296788071337, 0.99574995686234, 0.9991299970397884, 0.0011537297887295479, 0.383126297080861, 0.22780482529132276, 0.3883036794738456, 0.18619292893923506, 0.45218282742385657, 0.3609862908005578, 0.5112251456643881, 0.43866415724750724, 0.04947340119332789, 0.5660915843453854, 0.23807877839988192, 0.19588370383224438, 0.9946891436818552, 0.9945915369910766, 0.9941921284084411, 0.005585349036002478, 0.26901559051654034, 0.4100318274808558, 0.321083124164903, 0.2017565485958471, 0.6191838905182894, 0.180885181499725, 0.9785388587795453, 0.05465853207488332, 0.15031096320592913, 0.7993810315951685, 0.9854499614141945, 0.1779977516251802, 0.822180090840118, 0.7374377075143626, 0.17911200486117343, 0.08255943974069714, 0.26023613650749433, 0.5431015022765099, 0.19989152514343766, 0.10720755102433571, 0.5981052846620835, 0.29341013964555035, 0.030735988712548228, 0.48024982363356605, 0.4879338208117031, 0.02319649847172927, 0.9742529358126293, 0.9920762152942635, 0.9906557227336804, 0.0868902278231325, 0.8094510697207605, 0.10518290736484459, 0.46546836383399465, 0.1597582096209897, 0.37474147935787705, 0.6075982969647219, 0.1633979483869272, 0.22875712774169807, 0.5208500874082918, 0.17034090908950425, 0.3079239510464115, 0.6048228906397964, 0.2334643663643458, 0.16246935437050966], "Term": ["academic", "academic", "academic", "administrative", "agricultural", "aim", "aim", "aim", "analysis", "analysis", "analysis", "application", "application", "application", "area", "area", "area", "assistant", "ba", "bachelor", "bachelor\u2019s", "based", "based", "based", "biology", "biology", "biomass", "biomass", "blood", "bone", "bsc", "bsc", "business", "business", "calcium", "cancer", "cancer", "candidate", "candidate", "candidate", "catalysis", "cell", "cell", "cellular", "chair", "chair", "challenge", "challenge", "challenge", "chemical", "chemical", "chronic", "chronic", "clinical", "clinical", "clinical", "composition", "contribute", "contribute", "contribute", "contributing", "conversion", "course", "course", "course", "crop", "crop", "cultural", "curriculum", "data", "data", "data", "dect", "degree", "delta", "department", "department", "department", "design", "design", "design", "develop", "develop", "develop", "development", "development", "development", "device", "device", "disease", "disease", "disorder", "disorder", "drone", "drug", "economics", "education", "education", "efficiency", "efficiency", "electrical", "electrical", "electricity", "energy", "energy", "energy", "english", "entrepreneurship", "euv", "expected", "expected", "expected", "faculty", "faculty", "faculty", "field", "field", "field", "food", "food", "food", "fuel", "functional", "functional", "functional", "functionomics", "gas", "gene", "genetic", "genetic", "genetics", "governance", "governance", "graduate", "graduate", "grid", "group", "group", "group", "heat", "history", "human", "human", "human", "image", "image", "image", "imaging", "imaging", "immune", "immunological", "immunology", "in", "in", "in", "including", "including", "including", "innovation", "innovation", "international", "international", "international", "irrigation", "kidney", "law", "law", "layer", "lecturer", "level", "level", "level", "ma", "maastro", "magnesiotropic", "management", "management", "master", "master\u2019s", "material", "material", "material", "mechanism", "mechanism", "mechanism", "medium", "medium", "metabolic", "method", "method", "method", "mg2", "model", "model", "model", "molecular", "molecular", "mouse", "mr", "new", "new", "new", "optical", "optical", "outcome", "outcome", "outcome", "particle", "particle", "pathway", "pathway", "pathway", "patient", "patient", "philosophy", "philosophy", "physic", "physic", "physic", "physiological", "physiology", "pilot", "platelet", "policy", "policy", "political", "political", "position", "position", "position", "postdoc", "postdoc", "postdoc", "postdoctoral", "postdoctoral", "postdoctoral", "process", "process", "process", "professor", "professor", "program", "program", "program", "programme", "programme", "programme", "project", "project", "project", "protein", "psychology", "radiomics", "receptor", "remote", "renal", "research", "research", "research", "researcher", "researcher", "researcher", "response", "response", "rna", "role", "role", "role", "scale", "scale", "school", "science", "science", "science", "scientific", "scientific", "scientific", "sensing", "signaling", "skill", "smart", "smart", "social", "sociology", "soil", "soil", "soil", "solar", "spectroscopy", "storage", "storage", "student", "student", "student", "study", "study", "study", "stw", "supervising", "supervising", "supervision", "supervision", "supervision", "system", "system", "system", "targeted", "targeted", "teach", "teaching", "teaching", "team", "team", "team", "technique", "technique", "technique", "technology", "technology", "technology", "the", "the", "the", "therapy", "thermal", "thesis", "thesis", "this", "this", "this", "tool", "tool", "tool", "traffic", "transport", "transport", "transport", "trpv5", "tumor", "tumor", "university", "university", "university", "use", "use", "use", "used", "used", "used", "using", "using", "using", "vehicle", "vehicle", "vitro", "vivo", "water", "water", "water", "we", "we", "we", "within", "within", "within", "work", "work", "work", "you", "you", "you"]}, "R": 30, "lambda.step": 0.01, "plot.opts": {"xlab": "PC1", "ylab": "PC2"}, "topic.order": [1, 3, 2]};

            function LDAvis_load_lib(url, callback){
              var s = document.createElement('script');
              s.src = url;
              s.async = true;
              s.onreadystatechange = s.onload = callback;
              s.onerror = function(){console.warn("failed to load library " + url);};
              document.getElementsByTagName("head")[0].appendChild(s);
            }

            if(typeof(LDAvis) !== "undefined"){
               // already loaded: just create the visualization
               !function(LDAvis){
                   new LDAvis("#" + "ldavis_el25774881563224597196205", ldavis_el25774881563224597196205_data);
               }(LDAvis);
            }else if(typeof define === "function" && define.amd){
               // require.js is available: use it to load d3/LDAvis
               require.config({paths: {d3: "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min"}});
               require(["d3"], function(d3){
                  window.d3 = d3;
                  LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
                    new LDAvis("#" + "ldavis_el25774881563224597196205", ldavis_el25774881563224597196205_data);
                  });
                });
            }else{
                // require.js not available: dynamically load d3 & LDAvis
                LDAvis_load_lib("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", function(){
                     LDAvis_load_lib("https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.js", function(){
                             new LDAvis("#" + "ldavis_el25774881563224597196205", ldavis_el25774881563224597196205_data);
                        })
                     });
            }
            </script>
    </div>



</body>





</html>
